.UiImage__custom-preview {
    $base-color: #ddd;
    $shine-color: #e8e8e8;
    $animation-duration: 1.6s;
    $avatar-offset: 52 + 16;

    width: 100%;
    height: 100%;
    background-color: #ccc;
    background-image: linear-gradient(90deg, $base-color 0, $shine-color 40px, $base-color 80px);
    background-size: 600px;
    animation: shine-avatar $animation-duration infinite linear;

    @keyframes shine-avatar {
        0% {
            background-position: -100px + $avatar-offset;
        }

        40%,
        100% {
            background-position: 600px + $avatar-offset;
        }
    }
}
