:root {
    --ui-primary-color: #689fef;
    --ui-secondary-color: #9cc3de;
    --ui-additional-color: #0046c9;
    --ui-white-color: #fff;
    --ui-black-color: #242e42;

    @media (prefers-color-scheme: dark) {
        --ui-primary-color: #138a2f;
        --ui-secondary-color: #4b5969;
        --ui-additional-color: #e4ff00;
        --ui-white-color: #242e42;
        --ui-black-color: #c0c0c0;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}
