.UiLink {
    &.--medium-size {
        font-size: 16px;
        line-height: 125%;

        &.--is-icon {
            width: 64px;
            height: 64px;
            border-radius: 50%;
        }
    }

    &.--large-size {
        font-size: 32px;
        line-height: 1;
    }

    &.--primary-color {
        color: var(--ui-primary-color);

        &.--is-active {
            text-decoration: underline;
        }

        &.--is-icon {
            background-color: var(--ui-primary-color);
        }

        @include hover {
            opacity: .8;
        }
    }

    &.--secondary-color {
        color: var(--ui-secondary-color);

        @include hover {
            color: var(--ui-primary-color);
        }
    }

    &.--is-interesting {
        transform: scale(1.1);
    }

    &.--is-disabled {
        opacity: .32;
    }
}
