@mixin hover {
    @media (hover), (min-width: 0\0) {
        &:hover {
            @content;
        }
    }
}

@mixin reset-button {
    border: none;
    background: none;
    outline: none;

    &:focus {
        outline: none;
    }
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin hide-scrollbar {
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}
